# Ignore MSVC++ binary and object directories
Debug/
Release/
Debug wx2.8/
Release wx2.8/
ipch/
DataPlotter/Debug
DataPlotter/Release

*.suo
*.sdf
*.opensdf
*.bak

# Ignore GKT directories
bin/
.obj/
/DataPlotter/nbproject/private/
